html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fcfaf5;
}
body #invitation-content {
  display: flex;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
body #invitation-content .musicTriger {
  cursor: pointer;
  background-color: #d7d7c8;
  color: #6C6C4C;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 100;
  border: none;
  border-radius: 100%;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  animation: animationFadeOut 0s ease 1 forwards;
}
body #invitation-content .musicTriger i {
  animation: animationScale 2s ease infinite;
}
body #invitation-content .musicTriger.paused i {
  animation: none;
}
body #invitation-content #main-image {
  max-width: 1070px;
  height: 715px;
  margin-right: 450px;
  position: fixed;
  z-index: 5;
  overflow: hidden;
  top: 0;
  left: 0;
}
body #invitation-content #main-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body #invitation-content #main-image canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
body #invitation-content #main-container {
  max-width: 450px;
  margin: auto;
  position: absolute;
  right: 0;
  z-index: 5;
}
body #invitation-content #main-container nav.navbar {
  position: fixed;
  background-color: #d7d7c8;
  padding: 10px 0;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  width: 50px;
  z-index: 10;
  animation: animationFadeOut 0s ease 1 forwards;
  right: 460px;
  bottom: 50%;
  transform: translateY(50%);
}
body #invitation-content #main-container nav.navbar .navbar-item {
  padding: 10px;
}
body #invitation-content #main-container nav.navbar .navbar-item a.nav-link {
  text-decoration: none;
}
body #invitation-content #main-container nav.navbar .navbar-item a.nav-link .nav-link-content {
  text-align: center;
  color: #262b44;
  width: -moz-fit-content;
  width: fit-content;
  height: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
body #invitation-content #main-container nav.navbar .navbar-item a.nav-link .nav-link-content i {
  transition: all 0.3s;
  z-index: 5;
}
body #invitation-content #main-container nav.navbar .navbar-item a.nav-link .nav-link-content .nav-text {
  position: absolute;
  background-color: #6C6C4C;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 15px;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.3s;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
}
body #invitation-content #main-container nav.navbar .navbar-item a.nav-link.active .nav-link-content {
  color: #fcfaf5;
  background-color: #6C6C4C;
}
body #invitation-content #main-container nav.navbar .navbar-item a.nav-link.active .nav-link-content .nav-text {
  transform: translateY(0);
  opacity: 1;
  transform: translateX(0);
  opacity: 1;
}
body #invitation-content #main-container nav.navbar .navbar-item:hover a.nav-link .nav-link-content {
  color: #fcfaf5;
  background-color: #6C6C4C;
}
body #invitation-content #main-container nav.navbar .navbar-item:hover a.nav-link .nav-link-content .nav-text {
  transform: translateY(0);
  opacity: 1;
  transform: translateX(0);
  opacity: 1;
}
body #invitation-content #main-container .cover {
  max-width: 450px;
  width: 100%;
  min-height: 700px;
  overflow: hidden;
}
body #invitation-content #main-container .cover .cover-layout {
  position: absolute;
  max-width: 450px;
  width: 100%;
  z-index: 1;
}
body #invitation-content #main-container .cover .image {
  max-width: 70%;
  margin: 0 15%;
  position: relative;
  margin-top: calc(6rem + 3vw);
  animation: animationFadeIn 2s ease 1 forwards;
}
body #invitation-content #main-container .cover .text {
  max-width: 450px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  color: #262b44;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
body #invitation-content #main-container .cover .text .title {
  margin-top: 8.5%;
}
body #invitation-content #main-container .cover .text .title .title-one {
  animation: animationFadeRight 4s ease 1 forwards;
  margin: 0;
  margin-right: 24%;
  font-size: calc(1.5rem + 0.5vw);
}
body #invitation-content #main-container .cover .text .title .title-two {
  animation: animationFadeLeft 4s ease 1 forwards;
  margin: 0;
  margin-left: 17%;
  font-size: calc(1.5rem + 0.5vw);
}
body #invitation-content #main-container .cover .text .name {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 61.5%;
}
body #invitation-content #main-container .cover .text .name .groom {
  margin: 0 0 -30px 0;
  animation: animationFadeDown 4s ease 1 forwards;
}
body #invitation-content #main-container .cover .text .name .and {
  text-align: end;
  margin: 0 -25px 0 0;
  animation: animationFadeLeft 4s ease 1 forwards;
}
body #invitation-content #main-container .cover .text .name .bride {
  margin: -30px 0 0 0;
  animation: animationFadeUp 4s ease 1 forwards;
}
body #invitation-content #main-container .cover .text .date {
  display: flex;
  justify-content: space-evenly;
  max-width: 450px;
  width: 100%;
  position: relative;
  margin-top: 10%;
}
body #invitation-content #main-container .cover .text .date .day {
  border-top: #262b44 1px solid;
  border-bottom: #262b44 1px solid;
  padding: 5px 20px;
  font-weight: normal;
  z-index: 2;
  animation: animationFadeRight 4s ease 1 forwards;
}
body #invitation-content #main-container .cover .text .date .month {
  border-top: #262b44 1px solid;
  border-bottom: #262b44 1px solid;
  padding: 5px 20px;
  font-weight: normal;
  z-index: 2;
  animation: animationFadeLeft 4s ease 1 forwards;
}
body #invitation-content #main-container .cover .text .date .year {
  font-size: 25px;
  z-index: 2;
  animation: animationFadeIn 4s ease 1 forwards;
}
body #invitation-content #main-container .cover .text .visitor {
  position: relative;
  margin-top: 5%;
  z-index: 2;
  animation: animationFadeIn 4s ease 1 forwards;
}
body #invitation-content #main-container .cover .text .visitor .respect {
  font-weight: normal;
  font-size: 11px;
  margin-bottom: 5px;
}
body #invitation-content #main-container .cover .text .visitor .visitor-name {
  font-weight: 900;
}
body #invitation-content #main-container .cover .text .visitor .visitor-address {
  font-weight: normal;
}
body #invitation-content #main-container .cover .text .visitor .apologize {
  font-weight: normal;
  font-size: 10px;
  margin-top: 5px;
}
body #invitation-content #main-container .cover button {
  cursor: pointer;
  position: relative;
  width: 50%;
  margin: 0 25%;
  margin-top: calc(13.5rem + 0.5vw);
  background: transparent;
  border-radius: 50px;
  border: 1px #262b44 solid;
  color: #262b44;
  padding: 10px 15px;
  z-index: 1000;
  transition: all 0.3s;
  animation: animationFadeIn 4s ease 1 forwards;
}
body #invitation-content #main-container .cover button:hover {
  background: #d7d7c8;
  border: 1px #d7d7c8 solid;
  color: white;
}
body #invitation-content #main-container .invitation-content {
  animation: animationFadeOut 0s ease 1 forwards;
  background-image: url(../layout/main.png);
  background-size: contain;
  background-repeat: repeat-y;
}
body #invitation-content #main-container .invitation-content #quotes {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
body #invitation-content #main-container .invitation-content #quotes .quotes-layout {
  width: 100%;
  max-width: 450px;
  position: absolute;
  z-index: 1;
}
body #invitation-content #main-container .invitation-content #quotes .quotes-image {
  width: 100%;
  max-width: 450px;
  animation: animationFadeIn 4s ease 1 forwards;
}
body #invitation-content #main-container .invitation-content #quotes .text {
  padding: 0 25px;
}
body #invitation-content #main-container .invitation-content #quotes .text .arab {
  width: 100%;
  color: #262b44;
  position: relative;
  z-index: 2;
  margin: 150px 0 25px 0;
  text-align: center;
  animation: animationFadeDown 4s ease 1 forwards;
}
body #invitation-content #main-container .invitation-content #quotes .text .terjemah {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
  font-style: italic;
  width: 100%;
  margin: auto;
  color: #262b44;
  position: relative;
  z-index: 2;
  text-align: center;
  animation: animationFadeDown 4s ease 1 forwards;
}
body #invitation-content #main-container .invitation-content #couple {
  position: relative;
  z-index: 5;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #6C6C4C;
  padding: 25px;
  margin-top: 75px;
  border-radius: 500px;
}
body #invitation-content #main-container .invitation-content #couple .title {
  margin-top: 200px;
  color: white;
  text-align: center;
}
body #invitation-content #main-container .invitation-content #couple .title h1 {
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
body #invitation-content #main-container .invitation-content #couple .brides {
  width: 100%;
  margin-top: 100px;
}
body #invitation-content #main-container .invitation-content #couple .brides .groom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #invitation-content #main-container .invitation-content #couple .brides .groom .image {
  width: 150px;
}
body #invitation-content #main-container .invitation-content #couple .brides .groom .image .photo {
  position: relative;
}
body #invitation-content #main-container .invitation-content #couple .brides .groom .image .photo img {
  width: 100%;
  border-radius: 100%;
}
body #invitation-content #main-container .invitation-content #couple .brides .groom .image .frame {
  position: relative;
  top: -170px;
  left: -15px;
}
body #invitation-content #main-container .invitation-content #couple .brides .groom .image .frame img {
  width: 130%;
}
body #invitation-content #main-container .invitation-content #couple .brides .groom .text {
  margin-top: -175px;
  text-align: center;
}
body #invitation-content #main-container .invitation-content #couple .brides .groom .text .name h1 {
  margin-bottom: 5px;
  color: #ECECE4;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
body #invitation-content #main-container .invitation-content #couple .brides .groom .text .child-of p {
  margin: 0;
  font-size: calc(0.7rem + 0.2vw);
  font-family: "Poppins", sans-serif;
  color: #ECECE4;
}
body #invitation-content #main-container .invitation-content #couple .brides .and {
  width: 100%;
  color: white;
  font-family: "Playfair Display", serif;
  margin: 50px 0;
  display: flex;
  justify-content: center;
}
body #invitation-content #main-container .invitation-content #couple .brides .and p {
  margin: auto 25px;
}
body #invitation-content #main-container .invitation-content #couple .brides .and img {
  width: 200px;
}
body #invitation-content #main-container .invitation-content #couple .brides .bride {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: -25px;
}
body #invitation-content #main-container .invitation-content #couple .brides .bride .image {
  width: 150px;
}
body #invitation-content #main-container .invitation-content #couple .brides .bride .image .photo {
  position: relative;
}
body #invitation-content #main-container .invitation-content #couple .brides .bride .image .photo img {
  width: 100%;
  border-radius: 100%;
}
body #invitation-content #main-container .invitation-content #couple .brides .bride .image .frame {
  position: relative;
  top: -170px;
  left: -30px;
}
body #invitation-content #main-container .invitation-content #couple .brides .bride .image .frame img {
  width: 130%;
}
body #invitation-content #main-container .invitation-content #couple .brides .bride .text {
  text-align: center;
  margin-bottom: 50px;
}
body #invitation-content #main-container .invitation-content #couple .brides .bride .text .name h1 {
  margin-bottom: 5px;
  color: #ECECE4;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
body #invitation-content #main-container .invitation-content #couple .brides .bride .text .child-of p {
  margin: 0;
  font-size: calc(0.7rem + 0.2vw);
  font-family: "Poppins", sans-serif;
  color: #ECECE4;
}
body #invitation-content #main-container .invitation-content #gallery {
  width: 100%;
  margin-top: 25px;
}
body #invitation-content #main-container .invitation-content #gallery .text {
  text-align: center;
  color: #262b44;
  padding: 25px;
}
body #invitation-content #main-container .invitation-content #gallery .text .title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
body #invitation-content #main-container .invitation-content #gallery .text .fill {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #gallery .video iframe {
  width: 100%;
  height: 225px;
}
body #invitation-content #main-container .invitation-content #gallery .photos {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
body #invitation-content #main-container .invitation-content #gallery .photos .gallery-photo {
  width: 100%;
  height: auto;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  transition: transform 0.3s ease-in-out;
}
body #invitation-content #main-container .invitation-content #gallery .photos .gallery-photo img {
  width: 100%;
}
body #invitation-content #main-container .invitation-content #countdown {
  margin-top: 50px;
  padding: 50px 10px;
  text-align: center;
  font-family: "Playfair Display", serif;
}
body #invitation-content #main-container .invitation-content #countdown .play {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #invitation-content #main-container .invitation-content #countdown .play .title h4 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #262b44;
}
body #invitation-content #main-container .invitation-content #countdown .play .time {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: bold;
}
body #invitation-content #main-container .invitation-content #countdown .play .time span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #6C6C4C;
  color: #fcfaf5;
  width: 5rem;
  height: 5rem;
  border-radius: 8px;
}
body #invitation-content #main-container .invitation-content #countdown .play .time span .times {
  font-size: 2rem;
}
body #invitation-content #main-container .invitation-content #countdown .play .time span .text {
  font-size: 1rem;
}
body #invitation-content #main-container .invitation-content #countdown .play .tanggal p {
  margin-top: 20px;
  font-size: 1rem;
  color: #262b44;
}
body #invitation-content #main-container .invitation-content #countdown .done {
  color: #262b44;
}
body #invitation-content #main-container .invitation-content #countdown .buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
body #invitation-content #main-container .invitation-content #countdown .buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #6C6C4C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body #invitation-content #main-container .invitation-content #countdown .buttons button i {
  margin-right: 10px;
}
body #invitation-content #main-container .invitation-content #countdown .buttons button:hover {
  background-color: rgba(108, 108, 76, 0.6352941176);
}
body #invitation-content #main-container .invitation-content #rundown .title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
  color: #262b44;
}
body #invitation-content #main-container .invitation-content #rundown .first {
  width: 75%;
  margin-top: 75px;
  background-color: #6C6C4C;
  color: white;
  padding: 2rem;
  margin-right: auto;
}
body #invitation-content #main-container .invitation-content #rundown .first .title h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 20px;
  text-align: start;
  color: white;
  font-weight: bold;
}
body #invitation-content #main-container .invitation-content #rundown .first .date {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
body #invitation-content #main-container .invitation-content #rundown .first .date p {
  margin: 0;
  margin-left: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #rundown .first .time {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
body #invitation-content #main-container .invitation-content #rundown .first .time p {
  margin: 0;
  margin-left: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #rundown .first .location {
  display: flex;
  margin-bottom: 0.5rem;
}
body #invitation-content #main-container .invitation-content #rundown .first .location i {
  margin-top: 0.2rem;
}
body #invitation-content #main-container .invitation-content #rundown .first .location p {
  margin: 0;
  margin-left: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #rundown .first button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #6C6C4C;
  background-color: #fcfaf5;
  border-radius: 10px;
  border: solid 1px #fcfaf5;
  transition: 0.3s all;
}
body #invitation-content #main-container .invitation-content #rundown .first button:hover {
  color: #fcfaf5;
  background-color: #6C6C4C;
}
body #invitation-content #main-container .invitation-content #rundown .second {
  width: 75%;
  margin-top: 75px;
  background-color: #6C6C4C;
  color: white;
  padding: 2rem;
  text-align: end;
  margin-left: auto;
}
body #invitation-content #main-container .invitation-content #rundown .second .title h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 20px;
  text-align: end;
  color: white;
  font-weight: bold;
}
body #invitation-content #main-container .invitation-content #rundown .second .date {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 0.5rem;
}
body #invitation-content #main-container .invitation-content #rundown .second .date p {
  margin: 0;
  margin-right: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #rundown .second .time {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 0.5rem;
}
body #invitation-content #main-container .invitation-content #rundown .second .time p {
  margin: 0;
  margin-right: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #rundown .second .location {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0.5rem;
}
body #invitation-content #main-container .invitation-content #rundown .second .location i {
  margin-top: 0.2rem;
}
body #invitation-content #main-container .invitation-content #rundown .second .location p {
  margin: 0;
  margin-right: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #rundown .second button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #6C6C4C;
  background-color: #fcfaf5;
  border-radius: 10px;
  border: solid 1px #fcfaf5;
  transition: 0.3s all;
}
body #invitation-content #main-container .invitation-content #rundown .second button:hover {
  color: #fcfaf5;
  background-color: #6C6C4C;
}
body #invitation-content #main-container .invitation-content #rundown .third {
  width: 75%;
  margin-top: 75px;
  background-color: #6C6C4C;
  color: white;
  padding: 2rem;
  margin-right: auto;
}
body #invitation-content #main-container .invitation-content #rundown .third .title h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 20px;
  text-align: start;
  color: white;
  font-weight: bold;
}
body #invitation-content #main-container .invitation-content #rundown .third .date {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
body #invitation-content #main-container .invitation-content #rundown .third .date p {
  margin: 0;
  margin-left: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #rundown .third .time {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
body #invitation-content #main-container .invitation-content #rundown .third .time p {
  margin: 0;
  margin-left: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #rundown .third .location {
  display: flex;
  margin-bottom: 0.5rem;
}
body #invitation-content #main-container .invitation-content #rundown .third .location i {
  margin-top: 0.2rem;
}
body #invitation-content #main-container .invitation-content #rundown .third .location p {
  margin: 0;
  margin-left: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #rundown .third button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #6C6C4C;
  background-color: #fcfaf5;
  border-radius: 10px;
  border: solid 1px #fcfaf5;
  transition: 0.3s all;
}
body #invitation-content #main-container .invitation-content #rundown .third button:hover {
  color: #fcfaf5;
  background-color: #6C6C4C;
}
body #invitation-content #main-container .invitation-content #location {
  margin-top: 100px;
  padding-bottom: 75px;
}
body #invitation-content #main-container .invitation-content #location .container {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
  text-align: center;
  border: solid 3px #6C6C4C;
  overflow: hidden;
}
body #invitation-content #main-container .invitation-content #location .container .map {
  width: 100%;
  height: 25rem;
}
body #invitation-content #main-container .invitation-content #location .container .map iframe {
  width: 100%;
  height: 100%;
}
body #invitation-content #main-container .invitation-content #location .container .address {
  margin-top: 2rem;
  padding: 0 1rem;
  font-family: "Poppins", sans-serif;
  color: #6C6C4C;
}
body #invitation-content #main-container .invitation-content #location .container .address i {
  font-size: calc(1rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #location .container .address p {
  margin: 0;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #location .container a button {
  cursor: pointer;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fcfaf5;
  background-color: #6C6C4C;
  border-radius: 10px;
  border: solid 1px #6C6C4C;
  transition: 0.3s all;
}
body #invitation-content #main-container .invitation-content #location .container a button:hover {
  color: #6C6C4C;
  background-color: transparent;
}
body #invitation-content #main-container .invitation-content #invited {
  text-align: center;
  color: #262b44;
}
body #invitation-content #main-container .invitation-content #invited .title h4 {
  font-family: "Playfair Display", serif;
  margin-bottom: 2rem;
  font-size: 20px;
}
body #invitation-content #main-container .invitation-content #invited .content p {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
  margin: 0.5rem 0;
}
body #invitation-content #main-container .invitation-content #live-streaming {
  margin-top: 100px;
  text-align: center;
}
body #invitation-content #main-container .invitation-content #live-streaming .container {
  width: 75%;
  padding: 2rem;
  margin: auto;
  background-color: #6C6C4C;
}
body #invitation-content #main-container .invitation-content #live-streaming .container .title h1 {
  font-family: "Playfair Display", serif;
  margin-bottom: 2rem;
  margin: 0;
  color: white;
}
body #invitation-content #main-container .invitation-content #live-streaming .container .content p {
  color: #fcfaf5;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #live-streaming .container button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #6C6C4C;
  background-color: #fcfaf5;
  border-radius: 10px;
  border: solid 1px #fcfaf5;
  transition: 0.3s all;
}
body #invitation-content #main-container .invitation-content #live-streaming .container button:hover {
  color: #fcfaf5;
  background-color: #6C6C4C;
}
body #invitation-content #main-container .invitation-content #envelope {
  margin-top: 50px;
  padding: 0 2rem;
}
body #invitation-content #main-container .invitation-content #envelope .title h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-bottom: 2rem;
  margin: 0;
  color: #262b44;
}
body #invitation-content #main-container .invitation-content #envelope .text {
  margin-bottom: 50px;
}
body #invitation-content #main-container .invitation-content #envelope .text p {
  color: #262b44;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #envelope .accounts .account {
  background-color: #6C6C4C;
  color: #fcfaf5;
  padding: 1rem 2rem;
  margin: 1rem auto;
  border-radius: 10px;
}
body #invitation-content #main-container .invitation-content #envelope .accounts .account p {
  font-family: "Playfair Display", serif;
  margin-bottom: 2rem;
  margin: 0;
}
body #invitation-content #main-container .invitation-content #envelope .accounts .account .number {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
body #invitation-content #main-container .invitation-content #envelope .accounts .account .number a {
  margin: 0;
  margin-right: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #fcfaf5;
}
body #invitation-content #main-container .invitation-content #envelope .accounts .account .number p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
body #invitation-content #main-container .invitation-content #wish {
  width: 100%;
  margin-top: 100px;
}
body #invitation-content #main-container .invitation-content #wish .title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
  color: #262b44;
  margin-bottom: 50px;
}
body #invitation-content #main-container .invitation-content #wish .content {
  max-height: 500px;
  padding-bottom: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}
body #invitation-content #main-container .invitation-content #wish .content .wish-card {
  width: 70%;
  margin: 1rem auto;
  background-color: #6C6C4C;
  color: #fcfaf5;
  font-family: "Poppins", sans-serif;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px -5px rgb(0, 0, 0);
}
body #invitation-content #main-container .invitation-content #wish .content .wish-card .name p {
  font-size: calc(0.8rem + 0.2vw);
  margin: 0;
  font-weight: bold;
}
body #invitation-content #main-container .invitation-content #wish .content .wish-card .information {
  display: flex;
  margin-bottom: 0.5rem;
}
body #invitation-content #main-container .invitation-content #wish .content .wish-card .information .dash {
  margin: 0 5px;
}
body #invitation-content #main-container .invitation-content #wish .content .wish-card .information p {
  margin: 0;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #wish .content .wish-card .wish p {
  margin: 0;
  font-size: calc(0.7rem + 0.2vw);
}
body #invitation-content #main-container .invitation-content #wish .content::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}
body #invitation-content #main-container .invitation-content #wish .content::-webkit-scrollbar-thumb {
  background-color: #6C6C4C; /* Warna scrollbar */
  border-radius: 10px; /* Membuat ujung scrollbar melengkung */
}
body #invitation-content #main-container .invitation-content #wish .content::-webkit-scrollbar-track {
  background-color: #fcfaf5; /* Warna track (latar belakang scrollbar) */
  border-radius: 10px;
}
body #invitation-content #main-container .invitation-content #wish .wish-form {
  width: 70%;
  padding: 1rem 2rem 2rem 2rem;
  margin: auto;
  margin-top: 50px;
  background-color: rgba(214, 214, 199, 0.5);
}
body #invitation-content #main-container .invitation-content #wish .wish-form .title h4 {
  margin: 0;
  font-size: 2.5rem;
  color: #262b44;
}
body #invitation-content #main-container .invitation-content #wish .wish-form .form-item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid #6C6C4C;
  font-family: "Poppins", sans-serif;
  opacity: 0.5;
  background-color: rgba(214, 214, 199, 0.5);
}
body #invitation-content #main-container .invitation-content #wish .wish-form button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fcfaf5;
  background-color: #6C6C4C;
  border-radius: 50px;
  border: solid 1px #6C6C4C;
  transition: 0.3s all;
}
body #invitation-content #main-container .invitation-content #wish .wish-form button:hover {
  color: #6C6C4C;
  background-color: #fcfaf5;
}
body #invitation-content #main-container .invitation-content #wish .wish-form form {
  display: flex;
  flex-direction: column;
}
body #invitation-content #main-container .invitation-content #footer {
  height: 250px;
}
body #invitation-content #main-container .cover.active {
  animation: animationFadeIn 1s ease 1 forwards;
}
body #invitation-content #main-container .cover.remove-active {
  animation: animationFadeOut 1s ease 1 forwards;
  animation-delay: 1s;
}
body #invitation-content #main-container .cover.remove-active .image {
  max-width: 70%;
  margin: 0 15%;
  position: relative;
  margin-top: calc(6rem + 3vw);
  animation: animationFadeOut 1s ease 1 forwards;
}
body #invitation-content #main-container .cover.remove-active .text {
  max-width: 450px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  color: #262b44;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
body #invitation-content #main-container .cover.remove-active .text .title {
  margin-top: 8.5%;
}
body #invitation-content #main-container .cover.remove-active .text .title .title-one {
  animation: animationFadeRightOut 1s ease 1 forwards;
  margin: 0;
  margin-right: 24%;
  font-size: calc(1.5rem + 0.5vw);
}
body #invitation-content #main-container .cover.remove-active .text .title .title-two {
  animation: animationFadeLeftOut 1s ease 1 forwards;
  margin: 0;
  margin-left: 17%;
  font-size: calc(1.5rem + 0.5vw);
}
body #invitation-content #main-container .cover.remove-active .text .name {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 61.5%;
}
body #invitation-content #main-container .cover.remove-active .text .name .groom {
  margin: 0 0 -30px 0;
  animation: animationFadeDownOut 1s ease 1 forwards;
}
body #invitation-content #main-container .cover.remove-active .text .name .and {
  text-align: end;
  margin: 0 -25px 0 0;
  animation: animationFadeLeftOut 1s ease 1 forwards;
}
body #invitation-content #main-container .cover.remove-active .text .name .bride {
  margin: -30px 0 0 0;
  animation: animationFadeUpOut 1s ease 1 forwards;
}
body #invitation-content #main-container .cover.remove-active .text .date {
  display: flex;
  justify-content: space-evenly;
  max-width: 450px;
  width: 100%;
  position: relative;
  margin-top: 10%;
}
body #invitation-content #main-container .cover.remove-active .text .date .day {
  border-top: #262b44 1px solid;
  border-bottom: #262b44 1px solid;
  padding: 5px 20px;
  font-weight: normal;
  z-index: 2;
  animation: animationFadeRightOut 1s ease 1 forwards;
}
body #invitation-content #main-container .cover.remove-active .text .date .month {
  border-top: #262b44 1px solid;
  border-bottom: #262b44 1px solid;
  padding: 5px 20px;
  font-weight: normal;
  z-index: 2;
  animation: animationFadeLeftOut 1s ease 1 forwards;
}
body #invitation-content #main-container .cover.remove-active .text .date .year {
  font-size: 25px;
  z-index: 2;
  animation: animationFadeOut 1s ease 1 forwards;
}
body #invitation-content #main-container .cover.remove-active .text .visitor {
  position: relative;
  margin-top: 5%;
  z-index: 2;
  animation: animationFadeOut 1s ease 1 forwards;
}
body #invitation-content #main-container .cover.remove-active .text .visitor .respect {
  font-weight: normal;
  font-size: 11px;
  margin-bottom: 5px;
}
body #invitation-content #main-container .cover.remove-active .text .visitor .visitor-name {
  font-weight: 900;
}
body #invitation-content #main-container .cover.remove-active .text .visitor .visitor-address {
  font-weight: normal;
}
body #invitation-content #main-container .cover.remove-active .text .visitor .apologize {
  font-weight: normal;
  font-size: 10px;
  margin-top: 5px;
}
body #invitation-content #main-container .cover.remove-active button {
  cursor: pointer;
  position: relative;
  width: 50%;
  margin: 0 25%;
  margin-top: calc(13.5rem + 0.5vw);
  background: transparent;
  border-radius: 50px;
  border: 1px #262b44 solid;
  color: #262b44;
  padding: 10px 15px;
  z-index: 1000;
  transition: all 0.3s;
  animation: animationFadeOut 1s ease 1 forwards;
}
body #invitation-content #main-container .invitation-content.active {
  animation: animationFadeIn 1s ease 1 forwards;
  animation-delay: 1s;
}
body #invitation-content #main-container .navbar.active {
  animation: animationFadeInNavbar 6s ease 1 forwards;
}
body #invitation-content .musicTriger.active {
  animation: animationFadeIn 5s ease 1 forwards;
}

@media screen and (max-width: 900px) {
  body {
    margin: 0;
    background-color: #fcfaf5;
  }
  body #invitation-content {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    overflow: hidden;
  }
  body #invitation-content #main-image {
    max-width: 1070px;
    height: 715px;
    margin-right: 450px;
    position: fixed;
    z-index: 5;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
  }
  body #invitation-content #main-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  body #invitation-content #main-image canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  body #invitation-content #main-container {
    max-width: 450px;
    width: 100%;
    margin: auto;
    position: static;
    z-index: 5;
  }
  body #invitation-content #main-container nav.navbar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d7d7c8;
    padding: 10px 0;
    border-radius: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40px;
    width: 90%;
    line-height: 20px;
    max-width: 400px;
    bottom: 15px;
    z-index: 10;
    animation: animationFadeOut 0s ease 1 forwards;
  }
  body #invitation-content #main-container nav.navbar .navbar-item {
    padding: 10px;
  }
  body #invitation-content #main-container nav.navbar .navbar-item a.nav-link {
    text-decoration: none;
  }
  body #invitation-content #main-container nav.navbar .navbar-item a.nav-link .nav-link-content {
    text-align: center;
    color: #262b44;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #invitation-content #main-container nav.navbar .navbar-item a.nav-link .nav-link-content i {
    transition: all 0.3s;
    z-index: 5;
  }
  body #invitation-content #main-container nav.navbar .navbar-item a.nav-link .nav-link-content .nav-text {
    position: absolute;
    margin-top: 15px;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    margin-left: 0;
  }
  body #invitation-content #main-container nav.navbar .navbar-item a.nav-link.active .nav-link-content {
    color: #6C6C4C;
    background-color: transparent;
  }
  body #invitation-content #main-container nav.navbar .navbar-item a.nav-link.active .nav-link-content .nav-text {
    transform: translateY(0);
    opacity: 1;
  }
  body #invitation-content #main-container nav.navbar .navbar-item:hover a.nav-link .nav-link-content {
    color: #6C6C4C;
    background-color: transparent;
  }
  body #invitation-content #main-container nav.navbar .navbar-item:hover a.nav-link .nav-link-content .nav-text {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animationFadeUp {
  0% {
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animationFadeUpOut {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
  }
}
@keyframes animationFadeDown {
  0% {
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animationFadeDownOut {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes animationFadeRight {
  0% {
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes animationFadeRightOut {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes animationFadeLeft {
  0% {
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes animationFadeLeftOut {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes animationFadeIn {
  0% {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  50% {
    display: block;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes animationFadeInNavbar {
  0% {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  50% {
    display: flex;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}
@keyframes animationFadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    display: block;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes animationScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */